/* body {
  background-color: rgba(27,31,34,0.85);
} */

.colorPlease {
  background-color: rgba(27,31,34,0.85);
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.reason {
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  color: #fff;
}
